$light: #D7DEDC;
$primary: #698F3F;
$font-size-base: .85rem;

$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$input-border-radius: 0;
$input-border-radius-lg: 0;
$input-border-radius-sm: 0;

$input-focus-box-shadow: none;
$input-box-shadow: none;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
